@{ 
    ViewBag.Title = "Trang Chủ";
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Giá
                                </th>
                                <th>
                                    Hình
                                </th>
                                <th>
                                    Chức năng
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tdtable">
                                    Cái chảo siêu to khổng lồ của bà Tân Vlog
                                </td>
                                <td class="tdtable2">
                                    1.500.000
                                </td>
                                <td>
                                    None
                                </td>
                                <td>
                                    &nbsp;&nbsp;
                                    <a href="#" data-toggle="tooltip" title="Chỉnh sửa"><i class="fas fa-edit icon"></i></a>

                                    &nbsp; &nbsp;
                                    <a href="#" data-toggle="tooltip" title="Thêm vào Data nhà"><i class="far fa-heart icon"></i></a>
                                    &nbsp; &nbsp;
                                    <a href="#" data-toggle="tooltip" title="Thông tin thêm"><i class="fas fa-info icon"></i></a>
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>



            </div>
            <div class="card">
                <div class="card-header">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Tên Sản Phẩm
                                </th>
                                <th>
                                    Giá
                                </th>
                                <th>
                                    Hình
                                </th>
                                <th>
                                    Chức năng
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tdtable">
                                    Xịt Nách Hiệu Sầu Riêng
                                </td>
                                <td class="tdtable2">
                                    56.000
                                </td>
                                <td>
                                    None
                                </td>
                                <td>
                                    &nbsp;&nbsp;
                                    <a href="#" data-toggle="tooltip" title="Chỉnh sửa"><i class="fas fa-edit icon"></i></a>

                                    &nbsp; &nbsp;
                                    <a href="#" data-toggle="tooltip" title="Thêm vào Data nhà"><i class="far fa-heart icon"></i></a>
                                    &nbsp; &nbsp;
                                    <a href="#" data-toggle="tooltip" title="Thông tin thêm"><i class="fas fa-info icon"></i></a>
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>



            </div>
            <div class="card">
                <div class="card-header">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Tên sản phẩm
                                </th>
                                <th>
                                    Giá
                                </th>
                                <th>
                                    Hình
                                </th>
                                <th>
                                    Chức năng
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tdtable">
                                    Dép Crocs
                                </td>
                                <td class="tdtable2">
                                    1.000.000
                                </td>
                                <td>
                                    None
                                </td>
                                <td>
                                    &nbsp;&nbsp;
                                    <a href="#" data-toggle="tooltip" title="Chỉnh sửa"><i class="fas fa-edit icon"></i></a>

                                    &nbsp; &nbsp;
                                    <a href="#" data-toggle="tooltip" title="Thêm vào Data nhà"><i class="far fa-heart icon"></i></a>
                                    &nbsp; &nbsp;
                                    <a href="#" data-toggle="tooltip" title="Thông tin thêm"><i class="fas fa-info icon"></i></a>
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>



            </div>

        </div>


        <!-- Phân trang -->
        <div class="customPagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <footer class="footer footer-black  footer-white ">
            <div class="container-fluid">
                <div class="row">

                    <div class="credits ml-auto">
                        <span class="copyright">
                            ©
                            <script>
                                            document.write(new Date().getFullYear())
                            </script>, made with <i class="fa fa-heart heart"></i> by TN
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>